version: '3.8'

services:

  eureka-server:
    build: ./eureka-server
    ports:
      - "8761:8761"

  api-gateway:
    build: ./api-gateway
    ports:
      - "8080:8080"
    depends_on:
      - eureka-server
    environment:
      - eureka.client.service-url.defaultZone=http://eureka-server:8761/eureka

  currency-service:
    build: ./currency-service
    depends_on:
      - eureka-server
    environment:
      - eureka.client.service-url.defaultZone=http://eureka-server:8761/eureka
      - spring.data.mongodb.uri=${SPRING_DATA_MONGODB_URI}

  notification-service:
    build: ./notification-service
    depends_on:
      - eureka-server
      - currency-service 
    environment:
      - eureka.client.service-url.defaultZone=http://eureka-server:8761/eureka
      - spring.data.mongodb.uri=${SPRING_DATA_MONGODB_URI}